<div class="bg-white col-3" style="height:300px">
  <h3><%= article.title%></h3>
  <p><%= trunced_text(article)%></p>
  <p>By: <%= article.author.name%></p>
  <%= vote_or_unvote_btn(article) %>
</div>