<div class="position-relative col-3 px-0">
  <%= index_article_image(article)%>
  <div class="position-absolute text-white" style="top: 10px">
    <h3><%= category.name%></h3>
  </div>
  <div class="position-absolute text-white" style="bottom: 10px">
    <h3><%= article.title%></h3>
  </div>
</div>