<footer class="footer fixed-bottom d-flex justify-content-between mx-5">
  <div>
    <%= link_to  "Djelfa", root_path, class: "text-white font-weight-bold" %>
  </div>
  <div>
    <span><a href="#" style="color:orange;">Privacy policy</a></span>
    <span><a href="#" style="color: orange;">Terms & conditions</a></span>
    <span class="text-white">Copyright 2014. All right reserved to Nelson Sakwa</span>
  </div>
  <div>
    <span class="text-white">contact with us:
    <a href="#"><i class="fab fa-facebook" style="color: orange;"></i> </a> 
    <a href="#"><i class="fab fa-twitter-square" style="color: orange;"></i></a>
</span>
  </div>
</footer>